.line {
    display: flex;
    justify-content: space-around;
}

h1, h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.App {
    margin: auto;
    max-width: 900px;
}